.c {
  &-titlestyle {
    font-weight: 500;
    cursor: pointer;
    background-color: $toppageFistBgColor;
  }
  &-liststyle {
    display: block;
    border-bottom: 1px solid $boderColor;
  }
  &-listserch {
    background-color: $SertchresultColor;
  }
}

    .sorted {
      &.asc, &.desc {
        background-color: $SortSelectedColor;
        color: lightseagreen;
      }
      &.asc::after {
        display: inline-block;
        content: '▼';
        font-size: $font-size_8px;
      }
      &.desc::after {
        display: inline-block;
        content: '▲';
        font-size: $font-size_8px;
      }
    }
